<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">
          Session de <%= @session.classroom&.name %>
          le <%= @session.scheduled_at.strftime("%d/%m/%Y à %HH") %>
          de <%= @session.childrens_maximum %> élèves maximum
        </h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 mb-12">
  <% if current_user&.teacher? %>
    <div class="mb-2">
      <%= link_to 'Rejoindre la salle de classe', @session.live_url, class: 'btn-green' %>
    </div>

    <div class="mb-2">
      <% if @session.opened? %>
        <%= render 'sessions/closures/form', session: @session %>
      <% else %>
        <%= render 'sessions/openings/form', session: @session %>
      <% end %>
    </div>
  <% end %>
</div>
