<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold"><%= @classroom.name %></h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-0">
  <div class="flex flex-wrap justify-between text-center">
      <div class="my-12 flex-wrap flex-basis-2">

        <% if @live_session %>
          <span class="mb-3 inline-flex rounded-md shadow-sm">
            <%= link_to "Rejoindre la classe en direct", @live_session.live_url, target: "_blank", class: "btn-#{@classroom.color}" %>
          </span>
        <% else %>
          <p class="btn-gray ">
            Il n'y a pas de direct pour le moment
          </p>
        <% end %>

      </div>

      <div class="my-12 flex-wrap flex-basis-2">
        <%= link_to "Questions/Réponses", page_path('faq'), class: "btn-black" %>
      </div>
  </div>

  <h2 class="mt-1">Planning des cours à venir</h2>

  <% if @upcoming_sessions.empty? %>
    <p>Il n'y a pas de cours prévu prochainement...</p>
  <% else %>

    <%= week_calendar events: @upcoming_sessions do |date, classroom_animations| %>
      <div class="py-2 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
        <%= l date %>
      </div>

      <% if classroom_animations.empty? %>
        <span class="text-xs">-</span>
      <% else %>
        <% classroom_animations.each do |classroom_animation| %>
          <div class="tooltip mb-2 text-sm leading-5 text-green-500">
            de <%= l(classroom_animation.starts_at, format: "%H:%M") %>
            à <%= l(classroom_animation.starts_at + 1.hour, format: "%H:%M") %><br>
            pour <%= classroom_animation.childrens_maximum %> enfants
            <div class="tooltip-text">
              <div class='title'><%= classroom_animation.course&.title%></div>
              <div class='meta'><%= classroom_animation.course&.description%></div>
              <div class='content'><%= classroom_animation.comment %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <p class='m-auto text-center my-4'>
    <%= link_to new_user_registration_path(role: :parent), class: 'btn-green' do %>
      <i class="fa fa-user"></i>
      Participer à un cours
    <% end %>
  </p>

  <h2>Autres ressources utiles</h2>

  <% @resources.each do |resource| %>
    <div class="my-12 text-center">
      <%= link_to resource.name, resource.url, target: "_blank", class: "btn-pink" %>
      <p><%= resource.description %></p>
    </div>
  <% end %>

</div>
