= form_for @child do |f|
  .field
    = f.label :name, 'Prénom', for: :name
    = f.text_field :name, placeholder: "Prénom de l'enfant", required: true, class: 'appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
  .field
    = f.label :classroom, for: :classroom_id
    = f.collection_select :classroom_id, Classroom.all, :id, :name, {}, class: 'block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline'
  .field
    = f.submit (@child.persisted? ? "Modifier le profil de l'enfant" : "Ajouter l'enfant"), class: 'btn-green'
    = link_to "Annuler", children_path, class: 'btn-gray'
    - if @child.persisted?
      = link_to "Supprimer", @child, class: 'btn-red', method: :delete, data: {confirm: "Voulez vous vraiment supprimer toutes les informations de #{@child.name}"}

:javascript
  $('.ui.dropdown').dropdown();
