= link_to [:edit, :parent, car], title: car.title, class: "w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 rounded shadow-lg" do
  .tooltip
    .px-6.py-4
      .font-bold.text-xl.mb-2= car.classroom_animation.course&.title || car.classroom_animation.classroom.name
      %p.text-gray-700.text-base
        = car.classroom_animation.start_time

    .px-6.py-4
      %span.inline-block.bg-green-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-green-700.mr-2= car.child.name
    .tooltip-text
      = car.title
