<% if current_user %>
  <% current_user.reserved_animations.hot.each do |animation| %>

    <header class="flex items-stretch justify-center bg-teal-500 p-3">

      <p class="text-white text-center text-lg mb-0 md:text-lg self-center">
        Pour <%= animation.children.find_by(parent: current_user).name %>, <%= animation %>
      </p>

      <% if animation.opened? %>
        <span class="rounded-md shadow-sm ml-4 p-2 self-center">
          <%= link_to "Rejoindre le direct", animation.live_url, target: '_blank', class: 'btn-orange my-1 md:text-lg md:text-center md:px-2' %>
        </span>
      <% else %>
        <span class="bg-pink-500 text-white font-bold mx-4 py-2 px-4 rounded opacity-50 cursor-not-allowed">
          Démarre bientôt
        </span>
      <% end %>

    </header>

  <% end %>
  <% current_user.teacher? && current_user.classroom_animations.hot.each do |animation| %>

    <header class="flex items-stretch justify-center bg-teal-500 p-3">

      <p class="text-white text-center text-lg mb-0 md:text-lg self-center">
        Votre cours va commencer : <span class="font-bold text-orange-200">
          <%= animation %> à <%= l(animation.starts_at, format: "%H:%M") %>
        </span>
        <%= animation.children.map(&:name).join(",") %>
      </p>
      <span class="rounded-md shadow-sm ml-4 p-2 self-center">
        <%= link_to animation.live_url, target: '_blank', class: 'btn-orange my-1 md:text-lg md:text-center md:px-2' do %>
        <i class='fa fa-external-link-square-alt mr-3'></i>
        Rejoindre le direct
        <% end %>
      </span>
      <span class="rounded-md shadow-sm ml-4 p-2 self-center">
      <% if animation.opened? %>
        <%= link_to animation.live_url, target: '_blank', class: 'btn-orange my-1 md:text-lg md:text-center md:px-2' do %>
        <i class='fa fa-door-closed mr-3'></i>
        Fermer la salle
        <% end %>
      <% else %>
        <%= link_to animation.live_url, target: '_blank', class: 'btn-orange my-1 md:text-lg md:text-center md:px-2' do %>
        <i class='fa fa-door-open mr-3'></i>
        Ouvrir la salle
        <% end %>
      <% end %>
      </span>
    </header>

  <% end %>
<% end %>
