<%= form_with(model: classroom_animation, local: true) do |form| %>
  <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
    <div class="sm:col-span-6">
      <%= form.label :starts_at, 'Date :', class: 'block text-sm font-medium leading-5 text-gray-700' %>
      <div class="mt-1 flex rounded-md shadow-sm">
        <%= form.datetime_select :starts_at,
              { prompt: { day: 'Jour', month: 'Mois', year: 'Année', hour: 'Heure', minute: 'Minutes' } },
              { class: 'form-select block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5' }
        %>
      </div>
    </div>
    <div class="sm:col-span-4">
      <%= form.label :course_id, 'Cours :' %>
      <div class="mt-1 flex rounded-md shadow-sm">
        <%= form.collection_select :course_id, policy_scope(Course).where(published: true), :id, :title_with_description, { include_blank: true }, { required: true, class: 'form-select block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5' } %>
      </div>
    </div>
    <div class="sm:col-span-4">
      <%= form.label :childrens_maximum, 'Nombre d\'élèves maximum :' %>
      <div class="mt-1 flex rounded-md shadow-sm">
        <%= form.number_field :childrens_maximum, required: true, class: 'form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
      </div>
    </div>
  </div>
  <div class="mt-8 pt-5">
    <div class="flex">
      <%= form.submit 'Enregistrer la session', class: 'btn-green' %>
      <% if @classroom_animation.course && current_user.teacher? %>
        <%= link_to 'Retour au cours', teachers_course_path(@classroom_animation.course), class: 'btn-gray ml-2' %>
      <% elsif current_user.admin? %>
        <%= link_to 'Retour à la liste des sessions', classroom_animations_path(@classroom_animation.course), class: 'btn-gray ml-2' %>
      <% end %>
    </div>
  </div>
<% end %>
