

= link_to course_path(course), title: course.title, class: "display-block rounded shadow-xl my-2 mx-2 border border-gray-200" do
  .tooltip.flex.flex-col{style: "min-height: 200px"}
    .px-6.py-4
      .font-bold.text-xl.mb-2.text-orange-500= course.title
      %p.text-gray-700.text-base
        = course.description
    .px-6.pt-4.mt-auto
      %span.inline-block.bg-teal-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.mb-1= course.user.teacher_name  
    .px-6.py-4.mt-auto
      - unless defined? hide_classroom
        %span.inline-block.bg-orange-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2= course.classroom.name
      - if course.available?
        %span.inline-block.bg-orange-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 Session disponible
      - elsif course.classroom_animations.upcoming.exists?
        %span.inline-block.bg-red-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 Complet
      - else
        %span.inline-block.bg-yellow-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 Pas de session
    .mt-auto
      - if current_user
        - if course.available?
          .btn-green.w-full.justify-center M'inscrire
        - else
          .btn-orange.w-full.justify-center Bientôt disponible
    -# .tooltip-text
    -#   = course.content
