- content_for(:page_title, @course.title)

= link_to "Retourner à la liste des cours", courses_path

%h2 Par #{@course.user.full_name}

.labels
  .ui.label=  @course.classroom.name
.ui.segment
  %h3= @course.description

  %p.break-words.whitespace-pre-line= @course.content

- if @course.classroom_animations.upcoming.exists?
  %h2 Prochaines sessions :
  .ui.divided.items
    - @course.classroom_animations.order(:starts_at).upcoming.each do |ca|
      = render partial: "classroom_animations/horizontal_card_item", locals: {classroom_animation: ca}
