<% content_for :page_title do %>
  <div class="flex flex-wrap justify-between">
    <%= @course.title %>
    <div>
        <% if @course.available? %>
            <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">
                Session disponible
            </span>
        <% elsif @course.classroom_animations.upcoming.exists? %>
            <span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">
                Complet
            </span>
        <% else %>
            <span class="inline-block bg-yellow-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">
                Pas de session
            </span>
        <% end %>
    </div>
  </div>
<% end %>

<% content_for :back_link do %>
  <%= link_to :back do %>
    <div class="flex liens mb-2">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve" class="w-3 max-h-4 mr-2 fill-current text-blue-400">
        <g>
          <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
            c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
            L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
            c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
            c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
            C492,219.198,479.172,207.418,464.344,207.418z"/>
        </g>
      </svg>
      Retour
    </div>
  <% end %>
<% end %>

<h2>Titre : <%= @course.title %></h2>
<h3 class="text-2xl text-pink-400">Classe : <%= @course.classroom.name %></h3>
<h4 class="text-lg mb-6 text-gray-600">Professeur : <%= @course.user.teacher_name %></h3>

<p>
  <strong>Descriptif :</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Contenu du cours :</strong>
  <%= @course.content %>
</p>

<% if @course.classroom_animations.upcoming %>
  <h2>Prochaines sessions</h2>

  <% @course.classroom_animations.upcoming.each do |animation| %>
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 flex flex-col min-h-full
     rounded px-2 pb-6">
      <div class="px-6 py-4 flex shadow mx-2">
          <div class="text-xl mb-2">
            <%= link_to classroom_animation_path(animation) , class: 'header font-bold text-pink-400' do %>
              <%= @course.classroom.name %><br>
              <%= animation.human_time %>
            <% end %>

            <div class="meta text-base">
              <%= animation.childrens_maximum %> élèves maximum
            </div>

            <div class="extra mt-6">
              <div class="ui right floated">
                <% if current_user %>
                  <% @children.each do |child| %>
                    <%= render 'parent/classroom_animation_reservations/child_reservation_button',
                      child: child, animation: animation %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
