<% content_for :page_title do %>
  <div class="flex flex-wrap justify-between">
    <%= @course.title %>
    <div>
        <% if @course.published %>
            <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">
                Publié
            </span>
        <% else %>
            <span class="inline-block bg-yellow-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">
                Non publié
            </span>
        <% end %>
    </div>
  </div>
<% end %>

<%= link_to edit_teachers_course_path(@course), title: @course.title , class: 'sbtn btn-green' do %>
  <i class="fas fa-edit mx-2"></i> Modifier le cours
<% end %>

<h2> Classe : </h2>
<%= @course.classroom.name %>

<p class="mt-0"><h2>Titre :</h2> 
<%= @course.title %></p>

<h2>Description : </h2>
<%= @course.description %>

<h2 class="mb-0">Contenu : </h2>
<span class="whitespace-pre-wrap break-words">
  <%= @course.content %>
</span>


<h2>Session à venir : </h2>

<div class="w-full flex flex-wrap my-6">
  <%= render partial: "horizontal_card_item", collection: @future_classroom_animations, as: :animation %>
</div>

<%= link_to new_classroom_animation_path , class: 'sbtn btn-green' do %>
  <i class="fas fa-edit mx-2"></i> Ajouter une session
<% end %>