- content_for(:page_title, @course.title)
= link_to edit_teachers_course_path(@course), title: @course.title, style: "background-color: #31C48D", class: 'ui green button collection_action' do
  %i.fas.fa-edit.mx-2
  Modifier le cours
%h2 Classe :
= @course.classroom.name
%h2 Titre :
= @course.title
%h2 Description :
= @course.description
%h2 Content :
%span.whitespace-pre-wrap.break-words
  = @course.content

%h2 Sessions à venir
.ui.divided.list
  = render partial: "horizontal_card_item", collection: @future_classroom_animations, as: :animation

= link_to new_classroom_animation_path, class: 'ui button collection_action' do
  Ajouter une session
