= content_for(:menu_title, "Espace parent")
= content_for(:menu) do
  = active_link_to "Mes enfants", children_path, class: 'item'
  = active_link_to "Mes inscriptions", parent_classroom_animation_reservations_path, class: 'item'
= render "layouts/page_with_menu"
